.content_full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fond sombre derrière le popup */
    display:flex; /* Caché par défaut */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.content_full.active {
    display: flex;
}

.content_login {
    
    width: 300px;
    padding: 30px;
   /* flex: 1; /* Caché par défaut */
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.content_login button {
    display: block;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content_login h2 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content_login p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content_login a {
    color:darkmagenta;
    padding: 5px 5px;
}

form{
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

form p { 
    text-align: center;
}

.modal {
    display: none; /* Cachée par défaut */
    position: fixed; /* Positionnement fixe */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex; /* Afficher en flex lorsque la classe 'show' est ajoutée */
}

.modal_content {
    background: white;
    display: flex;
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal_content button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}