nav{
    background-color: white;
}

.tp{
    display: flex;
    justify-content: space-between;
}

.lien{
    justify-content: space-between;
}

.lienNav{
    display: flex;
}

.lien a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.lien{  
    margin-top: 35px;
}

.buttonNav button {
    margin-left: 10px;
}

.buttonNav{
    margin-top: 30px;
}

.btnBlack{
    background-color: #494949;
    color:white;
}

.buttonNavig{
    border-radius: 20%;
    height: 30px;
}