<footer class="bg-light text-dark pt-5 pb-4">
    <div class="container">
      <div class="row gy-4">
        <div class="col-12 col-md-4">
          <h5 class="text-uppercase fw-bold mb-3">L'entreprise</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-secondary text-decoration-none mb-2 d-inline-block">Conditions Générales d'Utilisation</a></li>
            <li><a href="#" class="text-secondary text-decoration-none mb-2 d-inline-block">Conditions Générales de Vente</a></li>
            <li><a href="#" class="text-secondary text-decoration-none mb-2 d-inline-block">Données personnelles et cookies</a></li>
            <li><a href="#" class="text-secondary text-decoration-none mb-2 d-inline-block">Mentions légales</a></li>
          </ul>
          <p class="mt-3 mb-1 text-secondary">© 2024. Tous droits réservés.</p>
        </div>
  
        <div class="col-12 col-md-4">
          <h5 class="text-uppercase fw-bold mb-3">Infos utiles</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-secondary text-decoration-none mb-2 d-inline-block">Nous contacter</a></li>
            <li><a href="#" class="text-secondary text-decoration-none mb-2 d-inline-block">Home Page</a></li>
            <li><a href="#" class="text-secondary text-decoration-none mb-2 d-inline-block">Gérer les cookies</a></li>
          </ul>
        </div>
  
        <div class="col-12 col-md-4">
          <h5 class="text-uppercase fw-bold mb-3">Nos réseaux</h5>
          <div class="d-flex gap-3">
            <a href="#"><img src="/images/github-2.png" alt="Github" width="35" height="35"></a>
            <a href="#"><img src="/images/instagram.png" alt="Instagram" width="35" height="35"></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  