<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Connexion - GastronoMeal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/styles.css">
  <!-- Bootstrap 5 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  
</head>

<body class="bg-light">
  <%- include('partials/nav') %>

  <div class="card-body d-flex justify-content-center align-items-center bg-secondary" style="height: 100vh;">
    <div class="card p-5">
        <div>
            <hr>
           <h5 class="text-secondary text-center">Se connecter</h5>
            <hr>
            <br>
            <div class="col-auto">
                email
                <div class="input-group">
                  <div class="input-group-text">@</div>
                  <input type="email" class="form-control" id="input-login" placeholder="">
                </div>
            </div>
            <br>
            <div class="col-auto">
              mot de passe
              <input type="password" class="form-control" id="input-passwd" placeholder="">
            </div>
            <br>
            <!-- <div class="col-auto">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  Se souvenir de moi
                </label>
              </div>
            </div> -->
            <br>
            <div class="col-auto">
              <button id="button-login" class="btn btn-primary">connexion</button>
              <a href="/"><button class="btn btn-outline-primary">Retour</button></a>
            </div>
        </div>
    </div>
</div>

  <div id="footer">
    <%- include('partials/footer') %>
  </div>
  <script type="module" src="/js/api.js"></script>
  <script type="module" src="/js/scripts.js"></script>
</body>
</html>
